@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg">
    <div class="welcome-container">
        <h1>Bem-vindo ao Clube</h1>
        <p class="lead">Explore o prazer da leitura com nossa comunidade.</p>
        <a href="/Identity/Account/Login" class="btn btn-primary btn-lg">Faça login aqui</a>
    </div>
</div>

<style>
    .bg {
        position: relative;
        min-height: 100vh; /* Ensures full viewport height */
    }

    .welcome-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h1{
        font-size: 5.5rem;
        font-weight: bold;
        color: #ffff

    }

    p.lead {
        font-size: 1.5rem;
        color: #ffff

    }

    .transparent {
        background-color: rgba(0, 0, 0, 0.0); /* Transparent background */
        position: relative; /* Allows content to be positioned on top */
        bottom: 0; /* Positions footer at the bottom */
        width: 100%; /* Stretches footer across the entire width */
        text-align: center; /* Center footer content if needed */
    }

</style>