@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="register-container">
    <div class="form-container">
        <h1>@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ProfilePicture" class="form-control" type="file" />
                <label asp-for="Input.ProfilePicture">Profile Picture</label>
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-container">
                <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>
        @if (!string.IsNullOrEmpty(Model.StatusMessage))
        {
            <div class="alert alert-success mt-3">
                @Model.StatusMessage <a href="/Identity/Account/Login">Click here to log in.</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
