@page
@model BlogClubeLeitura.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Utilize os serviços de usuário e role aqui.</p>
</div>