@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<h4>Use a local account to log in.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="Input.RememberMe" class="form-check-input" />
                        <label asp-for="Input.RememberMe" class="form-check-label"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </section>
        <section>
            <p>
                <a asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register">Register as a new user</a>
            </p>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}